.main {
	padding: var(--large) var(--medium) var(--medium);
	animation: fade-in 0.5s ease-in-out;
}

.drink_image {
	border-radius: 100%;
}

.drink_name {
	margin-top: var(--medium);
	width: 100%;
	text-align: center;
}

.ingredients {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: var(--large) 0;
}

.ingredients_label {
	margin-bottom: var(--medium);
}

.ingredients_detail {
	display: flex;
	justify-content: space-between;
	gap: var(--medium);
}

.ingredient_list {
	display: flex;
	flex-direction: column;
	gap: var(--puny);
	height: 100%;
	width: 100%;
}

.ingredient {
	display: flex;
}

.legend_color {
	margin: 1px var(--tiny) 0 var(--puny);
}

.chart {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: var(--giant);
	height: var(--giant);
}

.instructions {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.skeleton {
	flex: 1;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
