.search {
	width: 100%;
	padding: var(--tiny);
	border-bottom: 1px solid rgb(228, 228, 229);
}

.search_error {
	margin: var(--small);
	animation: fade-in 0.5s ease-in-out;
}

.drink_preview {
	position: relative;
	display: flex;
	align-items: center;
	gap: var(--small);
	height: var(--huge);
	width: 100%;
	padding: 0 var(--medium) 0 var(--tiny);
	animation: fade-in 0.5s ease-in-out;
}

.drink_preview:hover {
	opacity: 1;
	background: rgb(245, 245, 245);
}

/* list seperator lines */
.drink_preview::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: var(--tiny);
	right: 0;
	display: flex;
	flex-shrink: 1;
	background: rgb(228, 228, 229);
	height: 1px;
}

.drink_thumbnail {
	border-radius: 100%;
}

.drink_name {
	width: 100%;
}

.skeleton_container {
	display: flex;
	width: 100%;
}

.skeleton {
	flex: 1;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
